.casouselSection {
  position: relative;
  margin-bottom: 70px;
}

.casouselSection > .contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.casouselSection .casouselTitle {
  font-size: 25px;
  color: white;
  font-weight: normal;
}
